{% highlight html lineanchors=anchor linespans=line %}
<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body data-attr="1">
    <section class="main">
      <section class="browser">
        <div class="header">
          <div class="browser-button"domflag></div>
          <div class="browser-button"></div>
          <div class="browser-button"></div>
        </div>
        <div class="body">..</div>
        <div class="devtool-toolbar"></div>
        <section class="devtools">
          <div class="domflags-panel">
            <header class="title"domflag>DOMFLAGS</header>
            <ol class="flags">
              <li class="flag">DIV class="header"</li>
              <li class="flag"domflag>SECTION class="devtools"</li>
              <li class="flag">LI class="flag"</li>
            </ol>
          </div>
          <div class="dom-tree">..</div>
          <div class="dom-properties">..</div>
        </section>
      </section>
    </section>
  </body>
</html>
{% endhighlight %}
