$inner-padding: 40px;
section.marketing-info {
  $inner-width: 700px;
  background: #fff;
  font-family: "chaparral-pro", $sans-serif;
  font-size: 23px;
  line-height: 1.6;
  padding: 90px 0 0;

  .inner {
    max-width: $inner-width;
    margin: 0 auto;
    padding: 0 $inner-padding;
  }

  section {
    margin-bottom: 3.5em;
  }

  h1, h2 {
    color: #444;
    font-family: $header-font-family;
  }

  h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 auto 1.2em;
    max-width: $inner-width*1.1;
    padding: 0 0.5em;
    text-align: center;

    span {
      border-bottom: 4px solid #EFEFEF;
      display: inline-block;
      line-height: 0.9;
    }
  }

  h2 {
    font-size: 1.15em;
    font-weight: 800;
    margin-bottom: 0.6em;
    text-transform: uppercase;
  }

  p {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .metadata {
    font-size: 0.8em;
    color: $medium-gray;
    display: block;
  }

  pre {
    $delta: 1.08;
    $width: 700px * $delta;
    background: #f8f8f8;
    border-radius: 3px;
    @include box-sizing(border-box);
    font-size: 24px;
    margin: 1em 0 1.7em;
    margin-left: -($width - 700) / 2;
    padding: 1.2em;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
    width: $delta * 100%;

    .df {
      color: $callout-color;
      margin: 0 5px 0 12px;
    }
  }

  ol, ul {
    margin-left: 60px;
    margin-bottom: 1.5em;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }


  figure {
    margin: 2em 0 3.9em;

    &.native, &.keyboard  {
      margin: 2.5em 0 4.4em;
    }

    &.native {
      img {
        @include transform(scale(1.08));
      }
    }

    &.keyboard {
      background: #F8F8F8;
      border-radius: 3px;
      padding: $inner-padding;
      @include transform(scale(1.08));

      img {
        border-radius: 10px;
        box-shadow: #ccc 1px 1px 0;
        margin: 0 auto;
      }
    }
  }

  img {
    display: block;
    border-radius: 3px;

    &.settings {
      margin: 0 auto;
      border: 1px solid hsla(0, 0%, 59%, 0.42);
      border-top-color: hsla(0, 0%, 59%, 0.72);
    }
  }

  .shortcut {
    font-style: italic;
  }

  section.install {
    background: rgba(214, 221, 229, 0.44);
    border-radius: 3px;
    padding: $inner-padding 20px $inner-padding + 5px;
    text-align: center;

    #install-button {
      background: rgba(11, 106, 194, 0.8);
      border-radius: 3px;
      color: #fff;
      font-family: $header-font-family;
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: 2px;
      padding: 5px 37px;
      text-transform: uppercase;
    }
  }

  section.share {
    text-align: center;
  }

  footer {
    border-top: 1px solid #eee;
    @include clearfix;
    padding: 40px 30px 60px;
    position: relative;

    @media screen and (max-width: 700px) {
      padding: 40px 0 50px;
    }

    h3 {
      font-size: 0.85em;
      font-weight: 900;
    }

    p {
      font-size: 0.85em;
      margin-bottom: 0.5em;
    }

    .avatar {
      background-image: url('/images/phil-crop.jpg');
      background-size: cover;
      border-radius: $avatar-size;
      display: inline-block;
      float: left;
      left: 30px;
      position: absolute;
      right: 40px;
      @include size($avatar-size);

      @media screen and (max-width: 700px) {
        left: 0;
      }
    }

    .author {
      float: left;
      margin: 0;
      margin-left: $avatar-size + 30px;
    }

    a.google-plus {
      visibility: hidden;
      position: absolute;
    }
  }
}
