%open-domflags {
  @include animation(open-domflags 0.6s $ease-out-sine);
  @include animation-fill-mode(both);
  @include animation-delay(2s);
}

@include keyframes(open-domflags) {
  0% {
    @include transform(translateY(300px))
    // @include flex(0 0 0);
  }
  100% {
    // @include flex(1.5 1.5 314px)
    @include transform(translateY(0px))
  }
}

%selected-node {
  @include animation(selected-node 0.55s $ease-in-sine);
  @include animation-delay(0.25s);
  // @include animation-fill-mode(forwards);
  // @include transform-origin(top left);
}

@include keyframes(selected-node) {
  50% {
    @include transform(scale(1.2));
  }
}

%browser-zoom {
  @include animation(browser-zoom 1.2s $ease-out-sine 0s forwards);
  @include transform(scale(0.85));
}

@include keyframes(browser-zoom) {
  0% {
    @include transform(scale(0.85));
  }
  100% {
    @include transform(scale(1));
  }
}

%animation-click-target {
  @include animation(click-target 1.5s $ease-out-sine 0s forwards);
  @include animation-iteration-count(infinite);
  opacity: 1;
}

@include keyframes(click-target) {
  0% {
    opacity: 0.6;
    @include transform(scale(0.3));
  }
  100% {
    opacity: 0;
    @include transform(scale(1.4));
  }
}

%animation-click-target-solid {
  @include animation(click-target-solid 1.5s linear 1.3s forwards infinite);
}

@include keyframes(click-target-solid) {
  10% {
    @include transform(scale(0.48));
  }
  20% {
    @include transform(scale(0.4));
  }
}

%animation-start-hide {
  @include animation(start-hide 0.5s $ease-in-quad 0.5s forwards);
}

@include keyframes(start-hide) {
  0% {
    @include transform(translateY(0px));
  }
  100% {
    @include transform(translateY(-50px));
    opacity: 0;
  }
}

%animation-download-show {
  @include animation(download-show 0.5s $ease-out-quad 0.4s forwards);
}

@include keyframes(download-show) {
  0% {
    @include transform(translateY(50px));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0px));
    opacity: 1;
  }
}
