code > span {
  &.flaggable:hover {
    .tooltip {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &.non-flaggable:hover {
    .tooltip {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.tooltip {
  $bg: rgba(11, 106, 194, 0.8);
  background: $bg;
  border-radius: 0px;
  color: #FFF;
  cursor: pointer;
  display: none;
  font-size: 10px;
  margin-top: -1px;
  opacity: 0;
  padding: 3px 7px 2px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-transform: uppercase;

  &:hover {
    background: lighten($bg, 10%);
  }
}
