.devtools-toolbar {
  background: #efefef;
  z-index: 1;
  height: 0;

  &.open {
    height: 20px;
    border-bottom: 1px solid #bbb;
  }
}

.devtools {
  background: #fff;
  border-radius: 0 0 $browser-radius $browser-radius;
  overflow: hidden;
  @include transform(translateZ(0));
  @include transition(all 0.4s $ease-out-sine);
}

// DOMFLAGS PANEL
///////////////////////////////////////////////////////////////////////////
.devtools {
  .domflags-panel {
    // @extend %open-domflags;
    background: #D6DDE5;
    border-radius: 0 0 0 $browser-radius;
    box-shadow: inset -1px 0 0 hsla(0, 0%, 0%, 0.2);
    font-family: $lucida-grande;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;

    a.target {
      $color: #FF8158;
      $s: 32px;
      $color: #1D93F0;
      @extend %animation-click-target;
      background: $color;
      border-radius: $s;
      // left: 140px;
      right: 8px;
      pointer-events: none;
      position: absolute;
      @include size($s);
      top: 35px;
      z-index: 1;

      &.solid {
        @extend %animation-click-target-solid;
        @include transform(scale(0.4));
        // @include animation(none);
        // opacity: 0.8;
      }

      &.pos-1 {
        top: 71px;
      }

      &.pos-2 {
        top: 107px;
      }
    }

    header {
      text-transform: uppercase;
      padding: 9px 14px 1px;
      color: hsla(0, 0%, 20%, 0.75);

      &:before {
        background: url('../images/flag.svg') no-repeat;
        content: "";
        display: inline-block;
        height: 12px;
        width: 11px;
        margin-right: 10px;
      }
    }

    ol {
      li {
        cursor: pointer;
        @include ellipsis;
        display: block;
        max-width: 100%;
        padding: 6px 14px;
        position: relative;

        &:hover, &.demo {
          background-color: darken(#D6DDE5, 3%);
          box-shadow: inset -1px 0 0 hsla(0, 0%, 0%, 0.2);
        }

        &.active {
          $bg: #3779D9;
          background-color: $bg;
          color: #FFF;
          text-shadow: rgba(0, 0, 0, 0.33) 0px 1px 0px;
          // box-shadow: -1px 0 0 $bg;
        }
        &.new {
          &:after {
            $size: 8px;
            background: $callout-color;
            border-radius: $size;
            @include calc(top, "50% - #{$size/2}");
            content: "";
            position: absolute;
            right: 21px;
            @include size($size);
          }
        }
      }
    }
  }
}

// DOMTREE
///////////////////////////////////////////////////////////////////////////
.devtools {
  .dom-tree {
    font-size: 11px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px 0;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;

    span {
      font-family: Menlo, monospace;
    }

    .highlight {
      background: none;
    }

    pre {
      margin: 0;
    }

    .domflag-attr {
      margin-left: 5px;
    }

    code > span {
      display: block;
      line-height: 1.3em;
      padding: 0 10px;
      padding-top: 1px;
      position: relative;
      z-index: 1;

      &:hover {
        background-color: #EAF1FB;
      }

      > span {
        // Fix for animation not working
        display: inline-block;
        line-height: 1em;
      }

      &.selected {
        &, * {
          color: #fff !important;
        }

        .domflag-attr {
          @extend %selected-node;
          position: relative;
          background: $callout-color;
          padding: 1px 4px;
          border-radius: 1px;
          margin-right: 5px;
        }

        &:before {
          height: 100%;
          z-index: -1;
          @include calc(width, "100% + 20px");
          background-color: #3779D9;
          content: "";
          position: absolute;
          top: 0;
          left: -10px;
        }
      }
    }

    .domflag-attr {
      color: red !important;
    }
  }
}

// DOM PROPERTIES
///////////////////////////////////////////////////////////////////////////
.devtools {
  .dom-properties {
    background: hsla(0, 0%, 0%, 0.04);
    border-radius: 0 0 $browser-radius 0;
    box-shadow: -1px 0 0 hsla(0, 0%, 0%, 0.2);
  }
}

.fold-inner {
  display: none !important;
}

.fold-parent {
  display: inline-block !important;
  cursor: pointer;
}

.fold-true {
  a {
    display: inline-block;
    @include triangle(8px 7px, #6E6E6E, right);
    margin-top: 3px;
    position: absolute;
    margin-left: -10px;

    &.open {
      margin-top: 2px;
      @include transform(rotate(90deg));
    }
  }
}

.fold-block {
  display: block;
  line-height: 1.4em;
  white-space: nowrap;
}
