.devtools-toolbar {
  background: #efefef;
  z-index: 1;
  height: 0;

  &.open {
    height: 20px;
    border-bottom: 1px solid #bbb;
  }
}

.devtools {
  background: #fff;
  border-radius: 0 0 $browser-radius $browser-radius;
  overflow: hidden;
  @include transform(translateZ(0));
  @include transition(all 0.4s $ease-out-sine);
}

// DOMFLAGS PANEL
///////////////////////////////////////////////////////////////////////////
.devtools {
  .domflags-panel {
    // @extend %open-domflags;
    background: #D6DDE5;
    border-radius: 0 0 0 $browser-radius;
    box-shadow: inset -1px 0 0 hsla(0, 0%, 0%, 0.2);
    font-family: $lucida-grande;
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;

    a.target {
      $color: #FF8158;
      $s: 32px;
      $color: #1D93F0;
      @extend %animation-click-target;
      background: $color;
      border-radius: $s;
      right: 8px;
      pointer-events: none;
      position: absolute;
      @include size($s);
      top: 35px;
      z-index: 100;

      &.solid {
        @extend %animation-click-target-solid;
        @include transform(scale(0.4));
      }

      &.pos-1 {
        top: 71px;
      }

      &.pos-2 {
        top: 107px;
      }
    }

    header {
      text-transform: uppercase;
      padding: 9px 14px 1px;
      color: hsla(0, 0%, 20%, 0.75);

      &:before {
        background: url('../images/flag.svg') no-repeat;
        content: "";
        display: inline-block;
        height: 12px;
        width: 11px;
        margin-right: 10px;
      }
    }

    ol {
      li {
        @include box-sizing(border-box);
        cursor: pointer;
        @include ellipsis;
        display: block;
        height: 36px;
        height: 36px;
        max-width: 100%;
        padding: 0;
        position: relative;

        span {
          padding: 6px 14px;
          display: inline-block;
        }

        &:hover {
          background-color: darken(#D6DDE5, 3%);
          box-shadow: inset -1px 0 0 hsla(0, 0%, 0%, 0.2);
        }

        &.active {
          $bg: #3779D9;
          background-color: $bg;
          color: #FFF;
          text-shadow: rgba(0, 0, 0, 0.33) 0px 1px 0px;
        }

        &.new {
          &.animate {
            position: fixed;
            z-index: 1;

            span {
              display: inline-block;
              // @extend %animation-flag-in;
              @extend %animation-flipInX;
            }
          }

          &:after {
            $size: 8px;
            background: $callout-color;
            border-radius: $size;
            @include calc(top, "50% - #{$size/2}");
            content: "";
            position: absolute;
            right: 21px;
            @include size($size);
          }
        }

        &.remove {
          @extend %animation-flag-remove;

          &:after {
            opacity: 0;
          }
        }

        &.move-down {
          @include transition(transform 0.3s $ease-out-sine);
          @include transform(translateY(36px));
          z-index: 2;
        }

        &.move-up {
          @include transition(transform 0.3s $ease-out-sine);
          @include transform(translateY(-36px));
          z-index: 2;
        }

        $delay: 50ms;
        @for $i from 1 through 20 {
          &.delay-#{$i} {
            @include transition-delay($delay);
            $delay: $delay + 75ms;
          }
        }
      }
    }
  }
}


// DOMTREE
///////////////////////////////////////////////////////////////////////////
.devtools {
  .dom-tree {
    cursor: default;
    font-size: 11px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px 0;
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;

    span {
      font-family: Menlo, monospace;
    }

    .highlight {
      background: none;
    }

    pre {
      margin: 0;
    }

    .domflag-attr {
      margin-left: 5px;
      color: red;
    }
  }
}

code > span {
  display: block;
  line-height: 1.3em;
  padding: 0 10px;
  padding-top: 1px;
  position: relative;
  z-index: 1;

  &:hover {
    background-color: $devtools-hover;
  }

  > span {
    // Fix for animation not working
    display: inline-block;
    line-height: 1em;
  }

  &.selected {
    &, * {
      color: #fff !important;
    }

    .domflag-attr {
      @extend %selected-node;
      position: relative;
      background: $callout-color;
      padding: 1px 4px;
      border-radius: 1px;
      margin-right: 5px;
    }

    a {
      border-left-color: #fff;
    }

    &:before {
      height: 100%;
      z-index: -1;
      @include calc(width, "100% + 20px");
      background-color: #3779D9;
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
    }
  }
}

// DOM PROPERTIES
///////////////////////////////////////////////////////////////////////////
.devtools {
  .dom-properties {
    background: hsla(0, 0%, 0%, 0.04);
    border-radius: 0 0 $browser-radius 0;
    box-shadow: -1px 0 0 hsla(0, 0%, 0%, 0.2);
  }
}

.fold-inner {
  display: none !important;
}

.fold-parent {
  display: inline-block !important;
}

.fold-true {
  a {
    cursor: pointer;
    display: inline-block;
    margin-left: -10px;
    margin-top: 3px;
    position: absolute;
    @include triangle(8px 7px, #6E6E6E, right);

    &.open {
      margin-top: 2px;
      @include transform(rotate(90deg));
    }
  }
}

.fold-block {
  display: block;
  left: 0;
  line-height: 1.4em;
  position: relative;
  right: 0;
  white-space: nowrap;

  &:hover {
    background-color: $devtools-hover;
  }
}
