.CodeMirror-code pre > span {
  &.selected {
    $bg: #5196F6;
    .tooltip {
      background: $bg;
    }
    &:hover {
      .tooltip {
        background: lighten($bg, 5%);
      }
    }
  }
  &.flaggable:hover {
    .tooltip {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &.non-flaggable:hover {
    .tooltip {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.tooltip {
  $bg: lighten(rgba(11, 106, 194, 0.8), 5%);
  background: $bg;
  border-radius: 0px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  @include border-left-radius(10px);
  font-size: 10px;
  margin-top: -1px;
  opacity: 0;
  padding: 3px 7px 2px 8px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-transform: uppercase;

  &:hover {
    background: adjust-hue($bg, 5%);
  }
}
