code > span:hover {
  .tooltip {
    opacity: 1;
  }
}

.tooltip {
  $bg: rgba(11, 106, 194, 0.8);
  background: $bg;
  border-radius: 0px;
  color: #FFF;
  cursor: pointer;
  font-size: 10px;
  margin-left: 15px;
  margin-top: -1px;
  opacity: 0;
  padding: 3px 7px 2px;
  position: absolute;
  right: 0;
  text-transform: uppercase;

  &:hover {
    background: lighten($bg, 10%);
  }
}
