body, html {
  margin: 0;
}

.browser {
  @include display(flex);
  @include flex-direction(column);
  height: $browser-height;
  min-height: 400px;

  .body {
    $height: "#{$browser-height} - #{$devtools-height} - 38px";
    @include calc(height, $height);
    @include display(flex);
    @include flex(1);

    .inner {
      @include align-self(center);
      @include flex-direction(column);
      @include justify-content(center);
      width: 100%;
    }
  }
}

.devtools {
  @include display(flex);
  // @include flex(0);
  height: 0vh;

  &.open {
    height: 37vh;
    @include backface-visibility(hidden);
    @include transform(translateZ(0));
    // @include flex(1 1 0);
  }

  .domflags-panel {
    // width: 314px;
    // @include flex(0 0 0);
    max-width: 314px;
    @include flex(1.5 314px);

    // &.open {
      // @include flex(1 1 1px);
    // }

  }

  .dom-tree {
    @include flex(3);
  }

  .dom-properties {
    @include flex(0.5);
    max-width: 200px;
  }
}
