section.marketing-info {
  $inner-width: 700px;
  background: #fff;
  font-family: "chaparral-pro", $sans-serif;
  font-size: 23px;
  line-height: 1.6;
  padding: 90px 0;

  .inner {
    max-width: $inner-width;
    margin: 0 auto;
    padding: 0 40px;
  }

  section {
    margin-bottom: 3.5em;
  }

  h1, h2 {
    color: #444;
    font-family: $header-font-family;
  }

  h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 auto 1.2em;
    max-width: $inner-width*1.1;
    padding: 0 0.5em;
    text-align: center;

    span {
      border-bottom: 4px solid #EFEFEF;
      display: inline-block;
      line-height: 0.9;
    }
  }

  h2 {
    font-size: 1.05em;
    font-weight: 800;
    margin-bottom: 0.6em;
    text-transform: uppercase;
  }

  p {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .metadata {
    font-size: 0.8em;
    color: $medium-gray;
    text-align: center;
    display: block;
    margin-top: -2.5em;
  }

  pre {
    $delta: 1.08;
    $width: 700px * $delta;
    background: #f8f8f8;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 24px;
    margin: 1em 0 1.7em;
    margin-left: -($width - 700) / 2;
    padding: 1.2em;
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
    width: $delta * 100%;

    .df {
      color: $callout-color;
      margin: 0 5px 0 12px;
    }
  }

  ol {
    list-style-type: decimal;
    margin-left: 60px;
    margin-bottom: 1.5em;
  }

  figure {
    margin: 2em 0 3.9em;

    &.native, &.keyboard  {
      margin: 2.5em 0 4.4em;
    }

    &.native {
      img {
        @include transform(scale(1.08));
      }
    }

    &.keyboard {
      background: #F8F8F8;
      border-radius: 3px;
      padding: 40px;
      @include transform(scale(1.08));

      img {
        border-radius: 10px;
        box-shadow: #ccc 1px 1px 0;
        margin: 0 auto;
      }
    }
  }

  img {
    display: block;
    border-radius: 3px;

    &.settings {
      margin: 0 auto;
      border: 1px solid hsla(0, 0%, 59%, 0.42);
      border-top-color: hsla(0, 0%, 59%, 0.72);
    }
  }

  .shortcut {
    font-style: italic;
  }
}
