@import 'bourbon/bourbon';
@import 'bitters/bitters';
@import 'animations';
@import 'layout';

@import 'syntax';

body, html {
  background-color: #97B4C6;
}

.bg {
  // @include filter(blur(1px));
  background: url('/images/bg-sm.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  @include image-rendering(optimizeSpeed);
}

.main {
  padding: 10vh 10%;
  background-color: #fff;
}

.browser {
  @extend %browser-zoom;
  box-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.3);
  background: $browser-bg;
  border-radius: $browser-radius;
  position: relative;

  .header {
    $bg: #E1E1E1;
    background: $bg;
    @include background-image(linear-gradient(#FAFAFA, $bg));
    border-radius: $browser-radius $browser-radius 0 0;
    line-height: 0;
    overflow: hidden;
    padding: 12px;
    padding-left: 15px;
  }

  .browser-button {
    $size: 14px;
    background: hsla(0, 0%, 0%, 0.1);
    border-radius: $size;
    display: inline-block;
    height: $size;
    margin-right: 5px;
    width: $size;
  }

  .body {
    @include background-image(radial-gradient(circle farthest-side at right bottom, #94B9C9, #516994 80%, #324C74));
    background-repeat: no-repeat;
    color: hsla(0, 0%, 100%, 1);
    text-align: center;

    h1 {
      $letter-spacing: 40.5px;
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 0em;
      letter-spacing: $letter-spacing;
      margin-left: $letter-spacing;
      font-weight: 900;
    }

    h2 {
      font-weight: 400;
      font-size: 26px;
      line-height: 1.5em;
      margin-bottom: 1.6em;

      @include hidpi {
        font-weight: 300;
      }
    }

    a {
      $letter-spacing: 16px;
      $padding-lr: 50px;
      $color: #214D7A;
      $color: #ADCCEE;
      $color: #C6DCF3;
      border: 2px solid $color;
      border-radius: 2px;
      color: $color;
      display: inline-block;
      font-family: "brandon-grotesque", $helvetica;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: $letter-spacing;
      padding: 4px $padding-lr;
      padding-right: $padding-lr - $letter-spacing;
      text-rendering: optimizeLegibility;
      text-transform: uppercase;
      @include transition;
      width: 406px;

      &:hover {
        $color: #214D7A;
        color: darken($color, 5%);
        border: 2px solid $color;
      }

    }
  }
}

.devtool-toolbar {
  background: #efefef;
  border-bottom: 1px solid #bbb;
  z-index: 1;
  height: 26px;
}

.devtools {
  background: #fff;
  border-radius: 0 0 $browser-radius $browser-radius;

  .domflags-panel {
    // @extend %open-domflags;
    background: #D6DDE5;
    border-radius: 0 0 0 $browser-radius;
    box-shadow: inset -1px 0 0 hsla(0, 0%, 0%, 0.2);
    font-family: $lucida-grande;
    font-size: 12px;
    -webkit-font-smoothing: subpixel-antialiased;

    header {
      text-transform: uppercase;
      padding: 9px 14px 1px;
      color: hsla(0, 0%, 20%, 0.75);

      &:before {
        background: url('../images/flag.svg') no-repeat;
        content: "";
        display: inline-block;
        height: 12px;
        width: 11px;
        margin-right: 10px;
      }
    }

    ol {
      li {
        cursor: pointer;
        display: block;
        overflow: hidden;
        max-width: 100%;
        padding: 6px 14px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          background-color: darken(#D6DDE5, 3%);
          box-shadow: inset -1px 0 0 hsla(0, 0%, 0%, 0.2);
        }

        &.active {
          $bg: #3779D9;
          background-color: $bg;
          color: #FFF;
          text-shadow: rgba(0, 0, 0, 0.33) 0px 1px 0px;
          // box-shadow: -1px 0 0 $bg;
        }
      }
    }
  }

  .dom-tree {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px 0;
    font-size: 11px;
    -webkit-font-smoothing: subpixel-antialiased;

    * {
      font-family: Menlo, monospace;
    }

    .highlight {
      background: none;
    }

    pre {
      margin: 0;
    }

    code > span {
      display: block;
      line-height: 1.3em;
      padding: 0 10px;
      padding-top: 1px;
      position: relative;
      z-index: 1;

      > span {
        // Fix for animation not working
        display: inline-block;
        line-height: 1em;
      }

      &.selected {
        &, * {
          color: #fff !important;
        }

        .domflag-attr {
          @extend %selected-node;
          position: relative;
          background: #F36133;
          padding: 1px 4px;
          border-radius: 1px;
          margin-right: 5px;
        }

        &:before {
          height: 100%;
          z-index: -1;
          @include calc(width, "100% + 20px");
          background-color: #3779D9;
          content: "";
          position: absolute;
          top: 0;
          left: -10px;
        }
      }
    }

    .domflag-attr {
      color: red !important;
    }
  }

  .dom-properties {
    background: hsla(0, 0%, 0%, 0.04);
    border-radius: 0 0 $browser-radius 0;
    box-shadow: -1px 0 0 hsla(0, 0%, 0%, 0.2);
  }
}
