@import 'bourbon/bourbon';
@import 'bitters/bitters';
@import 'animations';

@import 'syntax';

body, html {
  margin: 0;
}

.main {
  padding: 10vh 10%;
  background: #fff;
}

.browser {
  border: 1px solid hsla(0, 0%, 0%, 0.24);
  background: $browser-bg;
  border-radius: 4px;
  height: 80vh;
  min-height: 400px;
  position: relative;

  .header {
    background: #E1E1E1;
    line-height: 0;
    padding: 12px;
    padding-left: 15px;
  }

  .browser-button {
    $size: 14px;
    background: hsla(0, 0%, 0%, 0.1);
    border-radius: $size;
    display: inline-block;
    height: $size;
    margin-right: 5px;
    width: $size;
  }

  .body {
  }
}

$devtools-height: 300px;
.devtool-toolbar {
  background: #efefef;
  border-bottom: 1px solid #bbb;
  z-index: 1;
  border-top: 1px solid #ccc;
  @include flex(1 100%);
  height: 26px;
  @include position(absolute, null null $devtools-height null);
  width: 100%;
}

.devtools {
  background: #fff;
  @include display(flex);
  height: 300px;
  @include position(absolute, null 0 0 0);

  .domflags-panel {
    // @extend %open-domflags;
    background: #D6DDE5;
    font-family: $lucida-grande;
    font-size: 12px;
    width: 314px;
    box-shadow: inset -1px 0 0 hsla(0, 0%, 0%, 0.2);
    -webkit-font-smoothing: subpixel-antialiased;

    header {
      text-transform: uppercase;
      padding: 9px 14px 1px;
      color: hsla(0, 0%, 20%, 0.75);

      &:before {
        background: url('../images/flag.svg') no-repeat;
        content: "";
        display: inline-block;
        height: 12px;
        width: 11px;
        margin-right: 10px;
      }
    }

    ol {
      li {
        cursor: pointer;
        display: block;
        overflow: hidden;
        max-width: 100%;
        padding: 6px 14px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
          background-color: darken(#D6DDE5, 3%);
          box-shadow: inset -1px 0 0 hsla(0, 0%, 0%, 0.1);
        }

        &.active {
          $bg: #3779D9;
          background-color: $bg;
          color: #FFF;
          text-shadow: rgba(0, 0, 0, 0.33) 0px 1px 0px;
          box-shadow: -1px 0 0 $bg;
        }
      }
    }
  }

  .dom-tree {
    @include flex(3);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px 0;
    font-size: 11px;
    -webkit-font-smoothing: subpixel-antialiased;

    * {
      font-family: Menlo, monospace;
    }

    .highlight {
      background: none;
    }

    pre {
      margin: 0;
    }

    code > span {
      display: block;
      line-height: 1.3em;
      padding: 0 10px;
      padding-top: 1px;
      position: relative;
      z-index: 1;

      > span {
        // Fix for animation not working
        display: inline-block;
        line-height: 1em;
      }

      &.selected {
        &, * {
          color: #fff !important;
        }

        .domflag-attr {
          @extend %selected-node;
          position: relative;
          background: #F36133;
          padding: 1px 4px;
          border-radius: 1px;
          margin-right: 5px;
        }

        &:before {
          height: 100%;
          z-index: -1;
          @include calc(width, "100% + 20px");
          background-color: #3779D9;
          content: "";
          position: absolute;
          top: 0;
          left: -10px;
        }
      }
    }

    .domflag-attr {
      color: red !important;
    }
  }

  .dom-properties {
    box-shadow: -1px 0 0 hsla(0, 0%, 0%, 0.2);
    background: hsla(0, 0%, 0%, 0.04);
    width: 200px;
  }
}
