.dom-tree.hide-tooltips {
  // hide tooltips until body class is removed with JS
  span.tooltip {
    display: none;
  }
}

.fold-block {
  &:hover > span:first-of-type .tooltip {
    opacity: 1;
    pointer-events: auto;
    top: 1px;
  }
}

// Hide tooltips for unfolded code
code > .tooltip {
  display: none;
}

// Hide/show tooltips
code > span {
  $bg: #5196F6;
  &.selected {
    .tooltip {
      background: $bg;
    }

    &:hover {
      .tooltip {
        background: lighten($bg, 5%);
      }
    }
  }

  &.flaggable:hover {
    .tooltip {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &.non-flaggable:hover {
    .tooltip {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.tooltip {
  $bg: lighten(rgba(11, 106, 194, 0.8), 5%);
  background: $bg;
  @include border-left-radius(10px);
  color: #FFF;
  cursor: pointer;
  font-size: 10px;
  line-height: 1;
  margin-top: -1px;
  opacity: 0;
  padding: 3px 7px 2px 8px;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-transform: uppercase;

  &:hover {
    background: adjust-hue($bg, 5%);
  }
}
