.body {
  // @include background-image(radial-gradient(circle farthest-side at right bottom, #94B9C9, #516994 80%, #324C74));
  @include background-image(linear-gradient(to right, rgba(251, 95, 119, 0.73), #FC7967 50%, rgba(252, 203, 68, 0.77)));
  @include background-image(linear-gradient(to right, rgba(251, 95, 119, 0.66), rgba(252, 121, 103, 0.90) 50%, rgba(252, 203, 68, 0.66)));
  background: rgba(21, 72, 138, 0.56);
  background: rgba(27, 144, 211, 0.6);
  background: rgba(0, 82, 128, 0.8);
  background: rgba(11, 106, 194, 0.8);
  background-repeat: no-repeat;
  color: hsla(0, 0%, 100%, 1);
  text-align: center;

  h1 {
    $letter-spacing: 34.9px;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 0em;
    letter-spacing: $letter-spacing;
    margin-left: $letter-spacing;
    font-weight: 900;
  }

  h2 {
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 1.0em;
  }

  .buttons {
    margin-top: 35px;
    position: relative;
    @include transition(margin 0.1s linear);

    &.show-download {
      margin-top: 35px;
    }
  }

  a {
    $bg-color: rgba(11, 106, 194, 1);
    $fg-color: #fff;
    $letter-spacing: 8px;
    $padding-lr: 20px;
    $width: 456px;
    background: $fg-color;
    border: 2px solid $fg-color;
    border-radius: 2px;
    @include box-sizing(border-box);
    display: inline-block;
    font-family: "brandon-grotesque", $helvetica;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: $letter-spacing;
    padding: 4px $padding-lr;
    padding-right: $padding-lr - $letter-spacing;
    position: relative;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    @include transition;
    width: $width;
    z-index: 1;

    &:hover {
      color: $fg-color;
      background: rgba(8, 96, 179, 0.5);
    }

    &.hide {
      @extend %animation-start-hide;
      pointer-events: none;
    }

    &#hero-install {
      $letter-spacing: 3px;
      @include transform(translateX(-50%));
      left: 50%;
      letter-spacing: $letter-spacing;
      opacity: 0;
      padding-right: $padding-lr - $letter-spacing;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: $width;

      &.show {
        pointer-events: auto;
        @extend %animation-download-show;
      }
    }
  }
}

.body {
  @media only screen and (max-width : 660px) {
    h1 {
      letter-spacing: 20px;
      margin-left: 20px;
    }

    h2 {
      padding: 0 20px;
    }

    a, a#hero-install {
      width: 80%;
    }
  }

  @media only screen and (max-width : 500px) {
    h1 {
      letter-spacing: 5px;
      margin-left: 5px;
    }
  }
}
