.browser {
  .header {
    $bg: #E1E1E1;
    background: $bg;
    @include background-image(linear-gradient(#FAFAFA, $bg));
    border-radius: $browser-radius $browser-radius 0 0;
    line-height: 0;
    overflow: hidden;
    padding: 8px;
    padding-left: 15px;
  }

  .browser-button {
    $size: 12px;
    background: hsla(0, 0%, 0%, 0.1);
    border-radius: $size;
    display: inline-block;
    height: $size;
    margin-right: 5px;
    width: $size;
  }
}
