body, html {
  background-color: #97B4C6;
  margin: 0;
  overflow-x: hidden;
}

.bg {
  background: url('../images/bg-sm.jpg') no-repeat;
  background-position: 0 50%;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  position: fixed;
  right: 0;
  top: 0;

  @media screen and (max-width: 500px) {
    background: url('../images/bg-mobile.jpg') no-repeat;
    background-position:  50% 0%;
    background-size: 100%;
  }
}

.main {
  padding: 10vh 10%;
  background-color: #fff;

  @media only screen and (max-width : 500px) {
    padding: 6%;
  }
}

.browser {
  @extend %browser-zoom;
  border-radius: $browser-radius;
  box-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.3);
  @include display(flex);
  @include flex-direction(column);
  height: $browser-height;
  min-height: 400px;
  overflow: hidden;
  position: relative;
  @include backface-visibility(hidden);

  .body {
    $height: "#{$browser-height} - #{$devtools-height} - 38px";
    @include calc(height, $height);
    @include display(flex);
    @include flex(1);
    @include backface-visibility(hidden);

    .inner {
      @include align-self(center);
      @include flex-direction(column);
      @include justify-content(center);
      @include backface-visibility(hidden);
      width: 100%;
      margin-bottom: $devtools-toolbar-height;
    }
  }
}

.will-change {
  will-change: height;
}

.devtools {
  @include display(flex);
  height: 0vh;

  &.open {
    height: 37vh;

    @media only screen and (max-width : 500px) {
      height: 18vh;
    }
  }

  .domflags-panel {
    max-width: 314px;
    @include flex(1.5 314px);
  }

  .dom-tree {
    @include flex(3);
  }

  .dom-properties {
    @include flex(0.5);
    max-width: 200px;
  }
}
