.read-more {
  background: hsla(0, 0%, 100%, 0.8);
  border-radius: 3px 3px 0 0;
  bottom: 0;
  font-family: $sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  left: 50%;
  line-height: 1;
  opacity: 0;
  padding: 10px 30px;
  position: absolute;
  @include transform(translate(-50%, 100%));
  visibility: hidden;

  &.show {
    opacity: 1;
    @include transform(translate(-50%, 0%));
    @include transition(all 0.5s $ease-out-quad);
    visibility: visible;
  }

  span {
    position: relative;
    top: -1px;

    $val: 14px;
    &:first-child {
      margin-right: $val;
    }
    &:last-child {
      margin-left: $val;
    }
  }
}

section.marketing-info {
  $inner-width: 700px;
  @include background-image(linear-gradient(hsla(0, 0%, 100%, 0.7), #FFF 5%, #FFF 95%, hsla(0, 0%, 100%, 0.9)));
  font-family: "chaparral-pro", $sans-serif;
  font-size: 23px;
  line-height: 1.6;
  padding: 90px 0 0;
  position: relative;

  @media screen and (max-width: 700px) {
    font-size: 20px;
  }

  @media screen and (max-width: 500px) {
    font-size: 18px;
  }

  @media screen and (max-width: 400px) {
    padding-top: 45px;
  }

  .inner {
    max-width: $inner-width;
    margin: 0 auto;
    padding: 0 $inner-padding;

    @media screen and (max-width: 500px) {
      padding: 0 $inner-padding/2;
    }
  }

  b {
    font-weight: 600;
  }

  section {
    margin-bottom: 3.7em;
  }

  h1, h2 {
    color: #444;
    font-family: $header-font-family;
  }

  h1 {
    font-size: 3.0rem;
    font-weight: 500;
    line-height: 1.05;
    margin: 0.8em auto 0.8em;
    max-width: $inner-width*1.1;
    padding: 0 0.5em;
    text-align: center;
    text-rendering: optimizeSpeed;

    span:not(.amp) {
      border-bottom: 4px solid rgba(0, 0, 0, 0.05);
      display: inline-block;
      line-height: 0.9;
    }

    em {
      display: block;
      font-size: 4.0rem;
      font-weight: 600;
      @include transform(translateY(-20px));
    }

    span.amp {
      color: $blue;
      display: inline-block;
      font-family: 'Cambo', serif;
      font-size: 1.4em;
      font-weight: 400;
      padding: 0 10px 0 2px; // fix spacing
      @include transform(translateY(21px));
    }

    @media screen and (max-width: 700px) {
      font-size: 2.3rem;
      em {
        font-size: 3.3rem;
      }
    }

    @media screen and (max-width: 500px) {
      font-size: 2rem;
      em {
        font-size: 3rem;
      }
    }

    @media screen and (max-width: 400px) {
      font-size: 1.5rem;
      padding: 0;

      em {
        margin-top: 5px;
        font-size: 2.5rem;

        .amp {
          margin-left: -2px;
          padding: 0 3px 0 0;
          @include transform(translateY(16px));
        }
      }
    }
  }

  h2 {
    font-size: 1.15em;
    font-weight: 800;
    margin-bottom: 0.6em;
    text-transform: uppercase;
  }

  p, ol, ul, pre {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  a:not(.button) {
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom: 1px solid currentColor;
    }
  }

  .metadata {
    font-size: 0.8em;
    color: $medium-gray;
    display: block;
  }

  pre {
    @extend %wide;
    background: #f8f8f8;
    border-radius: 3px;
    font-size: 1.05em;
    margin: 1em 0 1.7em;
    padding: 1.2em;
    text-align: center;

    .df {
      color: $orange;
      margin: 0 5px 0 12px;
    }

    @media screen and (max-width: 500px) {
      font-size: 1.0em;
    }
    @media screen and (max-width: 430px) {
      font-size: 0.85em;
      padding: 1.2em 0.55em;
      color: #000;

      .df {
        margin-left: 3px;
      }
    }
  }

  ol, ul {
    margin-left: 2.6em;
    margin-bottom: 1.6em;

    @media screen and (max-width: 430px) {
      margin-left: 1.5em;
    }
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;

    .shortcut {
      font-style: normal;
    }
  }

  li {
    > span {
      color: $base-font-color;
    }

    &.toggle {
      &, .shortcut {
        color: $purple;
      }
    }

    &.number {
      &, .shortcut {
        color: $blue;
      }
    }
  }


  figure {
    margin: 2em 0 3.9em;

    &.native, &.keyboard, &.video, &.gif  {
      @extend %wide;
      margin: 2.5em 0 4.4em;
    }

    &.video {
      margin-bottom: 1.5em;

      iframe {
        max-height: 426px;
        width: 100%;
      }
    }

    &.native {
      a {
        display: block;

        &:hover {
          border: none;
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &.keyboard {
      background: #F8F8F8;
      border-radius: 3px;
      padding: $inner-padding;

      @media screen and (max-width: 600px) {
        background: 0;
        padding: 0 6px;
      }

      img {
        border-radius: 10px;
        box-shadow: #ccc 1px 1px 0;
        margin: 0 auto;
      }
    }
  }

  img {
    display: block;
    border-radius: 3px;

    &.settings {
      border: 1px solid hsla(0, 0%, 59%, 0.42);
      border-top-color: hsla(0, 0%, 59%, 0.72);
      height: auto;
      margin: 0 auto;
    }
  }

  .shortcut {
    font-style: italic;
  }

  section.install {
    background: rgba(214, 221, 229, 0.44);
    border-radius: 3px;
    padding: $inner-padding 20px $inner-padding + 5px;
    text-align: center;

    h2 {
      font-size: 0.9em;
      margin-bottom: 0.7em;
    }
  }

  #marketing-install {
    background: rgba(11, 106, 194, 0.8);
    border-radius: 3px;
    color: #fff;
    font-family: $header-font-family;
    font-size: 1.1em;
    font-weight: 700;
    padding: 5px 40px;

    &:hover {
      border-bottom: none;
    }
  }

  section.share {
    text-align: center;
  }

  footer {
    border-top: 1px solid #eee;
    @include clearfix;
    padding: 40px 30px 60px;
    position: relative;

    @media screen and (max-width: 700px) {
      padding: 40px 0 50px;
    }

    h3 {
      font-size: 0.85em;
      font-weight: 900;
    }

    p {
      font-size: 0.85em;
      margin-bottom: 0.5em;
    }

    .avatar {
      background-image: url('/images/phil-crop.jpg');
      background-size: cover;
      border-radius: $avatar-size;
      display: inline-block;
      float: left;
      left: 30px;
      position: absolute;
      right: 40px;
      @include size($avatar-size);

      @media screen and (max-width: 700px) {
        left: 0;
      }
    }

    .author {
      float: left;
      margin: 0;
      margin-left: $avatar-size + 30px;
    }

    a.google-plus {
      visibility: hidden;
      position: absolute;
    }
  }
}

.gif {
  border: 1px solid darken($browser-bg, 10%);
  border-radius: 3px;
  max-height: 280px;
  overflow: hidden;
  position: relative;

  video {
    background: #fff;
    display: block;
    height: auto;
    width: 100%;
  }

  .overlay {
    @include align-items(center);
    background: rgba($browser-bg, 0.95);
    // background: rgba(#fff, 0.95);
    @include display(flex);
    pointer-events: none;
    @include position(absolute, 0);
  }

  figcaption {
    font-family: $sans-serif;
    font-weight: bold;
    pointer-events: none;
    text-align: center;
    width: 100%;

    span {
      display: inline-block;
      line-height: 1.3;
    }

    .metadata {
      color: #888;
      border: 0;
      display: block;
      font-size: 0.75em;
      text-decoration: none;
      font-weight: 500;
    }
  }

  &:hover {
    .overlay, figcaption {
      opacity: 0;
    }
  }
}
