$browser-radius: 4px;
$browser-height: 80vh;
$devtools-height: 300px;
$devtools-hover: #EAF1FB;
$browser-bg: #F8F8F8;
$callout-color: #F36133;
$avatar-size: 80px;

$inner-padding: 40px;

$blue: darken(#4A90E2, 8%);
$purple: darken(#8A5FC8, 5%);
$orange: $callout-color;
